*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#25292f;
    margin:0;
    padding:0;
}

.header{
    overflow: hidden;
    background-color: #e6e6e6;
    padding: 20px 10px;
    border-radius: 10px;
}

.header .logo{
    float: left;
}

.header-right p.pic{
    float: right;
}

.header-right p.link{
    float: right;
}
nav{
    line-height: 80px;
}
nav ul li{
    list-style: none;
    display: inline;
}
nav ul{
    float: right;
    margin-right:500px;
    margin-top: 0px;
}

nav ul li a{
    text-decoration:none;
    padding: 10px;
    width: 25px;

}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.25s;
    background-color: rgb(177, 174, 174);
}

input[type=search]{
    margin:0px;
    width: 250px;
    float:right;
    border-radius: 5px;
}