
body{
    max-width: 900px;
    
     margin:auto;
     background-color: rgb(137, 145, 137);
 }
 .pic{
     float: right;
     padding: 20px;
 }
 nav{
    background: rgb(87, 83, 83);
    padding: 15px;
    padding-bottom: 1%;
    text-size-adjust: 10px;
    
    
}
nav a{
    margin: 4px ;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: rgb(87, 83, 83);
}
nav a:hover{
    background:rgb(5, 3, 3);
    transition: 0.5s;
    color: white;
    font-style: italic;
}
/* Style the search box inside the navigation bar */
nav input[type=search] {
    font-family: sans-serif;
    float: right;
    padding: auto;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: none;
    font-size: 18px;
    background: rgb(105, 117, 111);
}    
.boxed{
    font-size: x-large;
}
#c{
   float: right;
    font-size: small;
    color:blue;
}
p{
    font-size: medium;
}
input {
    left: 30%;
    background-color:rgb(226, 223, 223);
    width: 25%;
    height: 25px;
  }
  input[type=text]:focus {
    border: 3px solid #555;
  } 
  input[type=text] {
    background-color: rgb(226, 223, 223);
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 10px;

  }
  input[type=text] {
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 50%%;
  }
  textarea {
    width: 30%;
    height: 150px;
    padding: 10px 10px;;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(19, 27, 20);
    border: none;
    color: white;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
    width: 10%;
    
  }
